/* временный стиль для странички */
@import url(./fonts/inter.css);

* {
  box-sizing: border-box;
}
* body {
  background-color: rgb(138, 138, 138);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

/* стили для карточки */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0;
  max-width: 1000px;
  gap: 21px 18px;
}

.card {
  display: block;
  width: 30%;
  max-width: 282px;
}


@media screen and (max-width: 768px) {
  .card {
    width: 45%;
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: calc(100% - 32px);
    max-width: 100%;
  }
}


.card__image-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  height: 100%;
  max-height: 80px;
  margin-top: -1px;
  padding: 0 20px 0 20px;
}

.card__text {
  margin: 25px 0 31px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* footer */

.footer {
  max-width: 882px;
  margin: 0 auto;
}

.footer__copyrigth {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 66px 0 60px 0;
}

/* modal style */

.modal {
  width: 430px;
  height: 330px;

  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  /* border: dashed gold 1px; */
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  padding: 0 36px 0;
}

.modal__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px auto 0;
  /* margin: 34px 0 48px 0; */
}

.modal__person-name {
  display: flex;
  flex-direction: column;
  margin: 48px auto 0;
  width: 100%;
  border: none;
  outline:none;  
}

.modal__person-status {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
  width: 100%;
  border: none;
  outline:none;
}

.line {
  border-bottom: solid 1px #000;
  width: 100%;
  opacity: .2;
  margin-top: 8px;
}
.modal__btn-save {
  width: 358px;
  height: 50px;
  margin-top: 48px;  
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  padding: 0;
}

.modal__btn-close {
  background-image: url(./images/Close-Icon.svg);

  /* width: 40px;
  height: 40px; */
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: -46px;
  right: -46px;
  color: #fff;
  cursor: pointer;
  outline:none;
}

.modal_active {
  visibility: hidden;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #fff; 
  border-radius: 2px;
  max-width: 150px;
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
}

.profile__btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: solid 1px #fff; 
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 17px;
}

.profile__avatar {
  display: flex;
  max-width: 120px;
}

.prifile__avatar-image {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__person-name {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
}

.profile__person-status {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.profile__wrapper {
  display: flex;
}