.profile {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 40px);
  margin: 40px auto 50px;
}

@media screen and (max-width: 881px) {
  .profile {
    width:calc(100% - 40px);
  }
}