.popup__content {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  border-radius: 10px;
  z-index: 10;
  background-color: #fff;
  padding: 0 36px 0;
}

@media screen and (max-width: 768px) {
  .popup__content {
    padding: 0 22px 0;
  }
}