.popup-img {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.popup-img.popup-img_active {
  display: flex;
}

@media screen and (max-width: 420px) {
  .popup-img {
    background-color: rgba(0, 0, 0, .9);

  }
}