.popup__btn-close {
  padding: 0;
  background: none;
  top: 0;
  color: #fff;
  cursor: pointer;
  outline:none;
  margin-left: 465px;
  margin-bottom: -15px;
  border: none;
}

.popup__btn-close:hover {
  opacity: .6;
  transition: ease .2s;
}

@media screen and (max-width: 768px) {
  .popup__btn-close {
    margin-left: 252px;
    margin-bottom: 9px;
  }
}