.popupbtn-close {
  /* padding: 0; */
  width: 40px;
  height: 40px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  /* top: 0; */
  background-image: url(../../images/Close-Icon.svg);
  /* color: #fff; */
  cursor: pointer;
  outline:none;
  /* margin-left: 465px; */
  /* margin-bottom: -15px; */
  border: none;
}

.popupbtn-close:hover {
  opacity: .6;
  transition: ease .2s;
}